extends layout

block links
    
    link(href="/stylesheets/style.css" rel="stylesheet" type="text/css")

    <!-- C3 Chart CSS -->
    link(href='/bower_components/c3/c3.css' rel='stylesheet' type='text/css')

    <!-- Bootstrap Core CSS -->
    link(href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css")

    <!-- DataTables CSS -->
    link(href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css")

    <!-- DataTables Responsive CSS -->
    link(href="/bower_components/datatables-responsive/css/responsive.dataTables.scss" rel="stylesheet")

    <!-- Custom Fonts -->
    link(href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")

block content
    div.row
        div.col-md-12
            div.panel.panel-default
                div.panel-heading
                    div.row
                        div.col-md-12
                            h3.panel-title
                                strong Calendar
                            br 
                    div.row
                        div.col-md-6.form-inline
                            a.btn.btn-default.btn-sm(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") 
                                i.fa.fa-plus
                                | 
                                | Add Budget
                            div.checkbox
                                label
                                    input(type="checkbox") 
                                    | Show Ignored Budgets   
                        div.col-md-6                                                                           
                            div.btn-group.btn-group-sm.pull-right(role="group")
                                a.btn.btn-default
                                    i.fa.fa-calendar
                                    | 
                                    | Today
                                div.btn-group.btn-group-sm(role="group")   
                                    a#months.btn.btn-default.dropdown-toggle(role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                        | June
                                        | 
                                        span.caret
                                    ul.dropdown-menu(aria-labelledby="months")
                                        each val in ['January', 'Febuary', 'March', 'April', 'May', 'June', 'July', 'September', 'October', 'November', 'December']
                                            li
                                                a()
                                                    | #{val}
                                div.btn-group.btn-group-sm(role="group")   
                                    a#years.btn.btn-default.dropdown-toggle(role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                        | 2016
                                        | 
                                        span.caret
                                    ul.dropdown-menu(aria-labelledby="years")
                                        each val in ['2016', '2015', '2014']
                                            li
                                                a()
                                                    | #{val}                                              
                                    a.btn.btn-default(role="button") <
                                    a.btn.btn-default(role="button") >
                div.panel-body 
            
                                    

block scripts
    <!-- D3 Chart JavaScript -->
    script(src='/bower_components/d3/d3.min.js' charset='utf-8' type='text/javascript')

    <!-- C3 Chart JavaScript -->
    script(src='/bower_components/c3/c3.min.js' type='text/javascript')

    <!-- jQuery -->
    script(src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript")
    
    <!-- Bootstrap Core JavaScript -->
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")

    <!-- DataTables JavaScript -->
    script(src="/bower_components/datatables/media/js/jquery.dataTables.min.js" type="text/javascript")
    script(src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" type="text/javascript")

