extends layout

block links
    
    link(href="/stylesheets/style.css" rel="stylesheet" type="text/css")

    <!-- C3 Chart CSS -->
    link(href='/bower_components/c3/c3.css' rel='stylesheet' type='text/css')

    <!-- Bootstrap Core CSS -->
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css")

    <!-- DataTables CSS -->
    link(href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css")

    <!-- DataTables Responsive CSS -->
    link(href="/bower_components/datatables-responsive/css/responsive.dataTables.scss" rel="stylesheet")

    <!-- Custom Fonts -->
    link(href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")

block content
    div.row
        div.col-md-12
            ol.breadcrumb
                li
                    | Dashboard
    div.row
        div.col-md-12
            div.panel.panel-default
                div.panel-heading
                    a(href="/networth") Net Worth and Forecast
                div.panel-body

    div.row
        div.col-md-3
            div.panel.panel-default
                div.panel-heading
                    div.row
                        div.col-xs-6
                            a(href="/accounts") Accounts
                        div.col-xs-6.text-right
                            | 10
                div.panel-body                   
        div.col-md-3
            div.panel.panel-default
                div.panel-heading
                    div.row
                        div.col-xs-6
                            a(href="/transactions") Recent Activity
                        div.col-xs-6.text-right
                            | Since June 01, 2016
                div.panel-body                 
        div.col-md-6
            div.panel.panel-default
                div.panel-heading
                    div.row
                        div.col-xs-6
                            a(href="/cashflows") Earninng and Spending
                        div.col-xs-6.text-right
                            i.fa.fa-calendar
                            | 
                            | June 01'16 - June 09'16
                div.panel-body                                 

    div.row
        div.col-md-6
            div.panel.panel-default
                div.panel-heading
                    a(href="/budgets") Active Budgets
                div.panel-body                   
        div.col-md-3
            div.panel.panel-default
                div.panel-heading
                    a(href="/calendar") Next 7 days
                div.panel-body                 
        div.col-md-3
            div.panel.panel-default
                div.panel-heading
                    a(href="/alerts") Alerts
                div.panel-body                    

block scripts
    <!-- D3 Chart JavaScript -->
    script(src='/bower_components/d3/d3.min.js' charset='utf-8' type='text/javascript')

    <!-- C3 Chart JavaScript -->
    script(src='/bower_components/c3/c3.min.js' type='text/javascript')

    <!-- jQuery -->
    script(src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript")
    
    <!-- Bootstrap Core JavaScript -->
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")

    <!-- DataTables JavaScript -->
    script(src="/bower_components/datatables/media/js/jquery.dataTables.min.js" type="text/javascript")
    script(src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" type="text/javascript")
